.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.section-title {
	width: 100%;
	margin-bottom: 20px;
	align-self: flex-start;
}

hr {
	height: 550px;
	width: 0;
}

.usuario, .compras, .vendas {
	width: 30%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.section-content {
	max-height: 450px;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: auto;
}

p {
	width: 100%;
	font-size: 14px;
	color: #515A5A;
	margin: 5px 0;
}

.usuario img {
	height: 230px;
	width: 230px;
	margin-bottom: 10px;
	border: 2px solid #515A5A;
}

.rifa {
	text-decoration: none;
	width: 230px;
	height: 60px;
}

.expired {
	opacity: 0.3;
}

.rifa img {
	width: 60px;
	position: relative;
    float: left;
	object-fit: cover;
  	object-position: center;
	margin-bottom: 10px;
	border: 2px solid #515A5A;
}

.rifa p {
	width: 158px;
    margin: 5px 0 0 70px;
}

.align-button {
	width: 18%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-self: flex-end;
}