.telalogin{	
	width:50%	
	}
	
.centralizado {
	
	text-align:center;	
	
}

.login {

	font: bold 16px/24px arial, helvetica, sans-aerif;
	color:#42825f;
	justify-content: center;
	
}

.esqueci_senha {
	
	font: bold 13px/24px arial, helvetica, sans-aerif;
	color:#42825f;
	text-align:center;	
}


.botao_logar{
	
	background:#42825f;
	border-radius:7px;
	text-align:center;
	font-family:Verdana;
	font-weight:bold;
	font-size:15px;
	padding:6px 10px;
	color:#fff;
	
	
}


.inputslogin{
	
	border-radius:8px;
	width:200px;
}
