<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>CarrinhoComprasServlet</servlet-name>
		<servlet-class>rifei.servlets.CarrinhoComprasServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CarrinhoComprasServlet</servlet-name>
		<url-pattern>/CarrinhoCompras</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>ConfirmarCompraServlet</servlet-name>
		<servlet-class>rifei.servlets.ConfirmarCompraServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmarCompraServlet</servlet-name>
		<url-pattern>/ConfirmarCompra</url-pattern>
	</servlet-mapping>
</web-app>