<app-pipes></app-pipes>
<!-- <app-crud></app-crud>  
<app-first-component></app-first-component>
<hr>
<app-event-binding></app-event-binding>
<hr>
<app-property-binding></app-property-binding>
<hr>
<app-ng-if></app-ng-if>
<hr>
<app-ng-for></app-ng-for>
<hr>
<app-ng-switch></app-ng-switch>
<hr>
<app-ng-style></app-ng-style>
<hr>
<app-ng-class></app-ng-class>
<hr>
<app-conf-bootstrap></app-conf-bootstrap>
<hr>
<app-forms-module></app-forms-module>
<hr>
<app-reactive-forms></app-reactive-forms>
<hr> -->