<form>
  <input type="number" class="form-control" readonly>
  <input type="text" class="form-control" placeholder="Nome">
  <input type="number" class="form-control" placeholder="Valor">

  <input type="button" class="btn btn-primary" value="Cadastrar">
  <input type="button" class="btn btn-warning" value="Alterar">
  <input type="button" class="btn btn-danger" value="Remover">
</form>

<!-- TABELA -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Valor</th>
      <th>Selecionar</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>